/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#tag-2 {
  display: none;
}

#wall div.wicked {
  display: none;
}

#tag-4 {
  background: none;
}

#tag-5 {
  background: none;
}
